#booking{
    padding:100px 10%;
    text-align:center;
}

#booking h2{
    font-size:42px;
    margin-bottom:15px;
}

#booking p{
    max-width:700px;
    margin:0 auto 40px;
    color:#bbb;
}

form{
    max-width:700px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

form input,
form select,
form textarea{
    padding:16px;
    border:none;
    border-radius:12px;
    background:#1a1a1a;
    color:white;
    font-size:16px;
}

form input:focus,
form select:focus,
form textarea:focus{
    outline:2px solid #FFD700;
}

form button{
    padding:18px;
    background:#FFD700;
    color:black;
    border:none;
    border-radius:50px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

form button:hover{
    background:white;
}
